/* *{
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
} */

@font-face {
  font-family: 'Proxima Nova';
  src: local('Proxima'), url(./fonts/Proxima/Proxima-Nova-Regular.otf) format('opentype');
  font-weight: 400;
}


@font-face {
  font-family: 'Proxima Nova';
  src: local('Proxima'), url(./fonts/Proxima/Proxima-Nova-Semi-Bold.otf) format('opentype');
  font-weight: 600;
}

@font-face {
  font-family: 'Proxima Nova';
  src: local('Proxima'), url(./fonts/Proxima/Proxima-Nova-Bold.otf) format('opentype');
  font-weight: 700;
}

html {
  height: 100%;
  max-width: 100%;
}

body {
  margin: 0;
  font-family: 'Proxima Nova', sans-serif;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  display: flex;
  height: 100%;
}

.hover:hover {
  cursor: pointer;
}

.red-hover:hover {
  cursor: pointer;
  color: red!important;
}

.link {
  color: #487FF2;
}

.container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-y: auto;
  width: 100%;
  max-width: 1200px!important;
  padding: 20px;
  /* background-color: #F6F7FB; */
}

.blue {
  color: #5367FF;
}

.row-centered {
  display: flex;
  align-items: center;
}

.row-space-centered {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-margin {
  margin-bottom: 25px!important;
}